.custom {
  display: flex;
  gap: 15px;
}
.issue {
  text-align: left;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
}
.worklog a, .show a {
  margin-right: 5px;
}