<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Tracker: {{.Title}}</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <link href="assets/style.css" rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="worklog">
            Load:
            <div class="custom">
                <span>Custom: </span>
                <div>
                    <label for="worklog-start">start:</label>
                    <input type="date" id="worklog-start" name="worklog-start" />
                </div>
                <div>
                    <label for="worklog-end">end:</label>
                    <input type="date" id="worklog-end" name="worklog-end" />
                </div>
                <button type="button" onclick="onWorklogSubmit()">🆗</button>
            </div>
        </div>
        <div class="show">
            Show:
            <div class="custom">
                <span>Custom: </span>
                <div>
                    <label for="show-start">start:</label>
                    <input type="date" id="show-start" name="show-start" />
                </div>
                <div>
                    <label for="show-end">end:</label>
                    <input type="date" id="show-end" name="show-end" />
                </div>
                <button type="button" onclick="onShowSubmit()">🆗</button>
            </div>
        </div>
    </div>
    <div>
        {{block "content" .Content}}This is the default body.{{end}}
    </div>
    <script type="text/javascript">
        const pathname = {
            worklog: RegExp(/\/worklog((\/from\/[\d-]+\/to\/[\d-]+)|(\/\w+))/).exec(window.location.pathname)?.at(0),
            show: RegExp(/\/show((\/from\/[\d-]+\/to\/[\d-]+)|(\/\w+))/).exec(window.location.pathname)?.at(0)
        }
        const appendWorklogLinks = (periods) => {
            const el = document.querySelector(".header .worklog");
            periods.forEach((period) => {
                const link = document.createElement("a");
                link.href = getWorklogLink(period.key);
                link.textContent = period.value;
                el.appendChild(link);
            });
        }
        const appendShowLinks = (periods) => {
            const el = document.querySelector(".header .show");
            periods.forEach((period) => {
                const link = document.createElement("a");
                link.href = getShowLink(period.key);
                link.textContent = period.value;
                el.appendChild(link);
            });
        }
        const getWorklogLink = (period) => `worklog/${period}${pathname.show ?? ""}`;
        const getShowLink = (period) => `${pathname.worklog}/show/${period}`;
        const periods = [{ key: "today", value: "Сегодня" }, { key: "currentWeek", value: "Эта неделя" }, { key: "currentMonth", value: "Этот месяц" }];
        appendWorklogLinks(periods);
        appendShowLinks(periods);

        const onShowSubmit = () => {
            const start = document.getElementById("show-start").value;
            const end = document.getElementById("show-end").value;
            if (start && end) {
                window.location.href = getShowLink(`from/${start}/to/${end}`);
            } else {
                alert("Please fill in both start and end dates.");
            }
        }
        function onWorklogSubmit() {
            const start = document.getElementById("worklog-start").value;
            const end = document.getElementById("worklog-end").value;
            if (start && end) {
                window.location.href = getWorklogLink(`from/${start}/to/${end}`);
            } else {
                alert("Please fill in both start and end dates.");
            }
        }
        const dateToISOString = (date) => {
            return date.toISOString().substring(0, 10);
        }

        const getTimespan = (req) => {
            const date = window.location.pathname.match(req);
            if (!date || date.length < 3) {
                const today = new Date();
                const end = new Date(today.getTime() + (7 * 24 * 60 * 60 * 1000)); // Add one week to today
                return {
                    start: dateToISOString(today),
                    end: dateToISOString(end)
                };
            }
            const start = date[1];
            const end = date[2];
            return {
                start,
                end
            };
        }
        const setWorklogInputValues = () => {
            const timespan = getTimespan(/\/worklog\/from\/([\d-]+)\/to\/([\d-]+)/);
            document.getElementById("worklog-start").value = timespan.start;
            document.getElementById("worklog-end").value = timespan.end;
        }
        const setShowInputValues = () => {
            const timespan = getTimespan(/\/show\/from\/([\d-]+)\/to\/([\d-]+)/);
            document.getElementById("show-start").value = timespan.start;
            document.getElementById("show-end").value = timespan.end;
        }
        setWorklogInputValues();
        setShowInputValues();
    </script>
</body>

</html>