{{define "content"}}
<h1>Worklog</h1>

{{if .Worklogs}}
<table>
    <caption>
        <h4>{{.Title}}: {{.Timespan.Start}} - {{.Timespan.End}}</h4>
    </caption>
    <thead>
        <tr>
            <th scope="col">issue</th>
            <th scope="col">sum</th>
            <th scope="col">comment</th>
            {{range .Worklogs.Days}}
            <th scope="col">{{.}}</th>
            {{end}}
        </tr>
    </thead>
    <tbody>
        {{range $rowspanIndex, $rowspan := .Worklogs.Rowspans}}
        {{range $index, $row := .Rows}}
        <tr>
            {{if eq $index 0}}
            <th rowspan="{{$rowspan.Rowspan}}" scope="rowgroup" class="issue"><a href="{{trackerUrl $rowspan.Issue.Key}}" target="_blank">{{$rowspan.Issue.Key}} {{$rowspan.Issue.Display}}</a></th>
            <th rowspan="{{$rowspan.Rowspan}}" scope="rowgroup">{{$rowspan.Sum}}</th>
            {{end}}
            <th scope="row">{{$row.Comment}}</th>
            {{range $row.Duration}}
            <td>{{.}}</td>
            {{end}}
        </tr>
        {{end}}
        {{end}}

        <tr>
            <th scope="row">issue-key</th>
            <th scope="row">{{.Worklogs.Sum}}</th>
            <th scope="row">comment</th>
            {{range .Worklogs.DaysSum}}
            <td>{{durationBeautify .}}</td>
            {{end}}
        </tr>
    </tbody>
</table>
{{else}}
<div>No data</div>
{{end}}

{{end}}